Stats.py
RunTests.py
Obsoletes.py

_cache
_files
_tests_assets
_tests_mismatch
BioEntityTests

**/__pycache__
**/*.txt
.git
*.md
*.pyproj
*.user

!requirements.txt
!_cache/biophens-en.pkl
!_cache/biophens-es.pkl
!_cache/mondo-en.gfx
!_files/gene_disease.9606.tsv

